<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <meta charset="utf-9">
    <meta name="viewport" content="width=device-width, initial-scale=0">    
    <title>Title</title>
</head>
<body>