.card-author {
    display: flex;
    justify-content: flex-end;
}

.card-title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 16px;
}

.page-header {
    text-align:center;
    padding-top: 76px;
    padding-bottom: 16px;
}

a{
    color: black;
}

a:link{
    text-decoration: none;
}

.button-cluster{
    display: block;
    flex: 0 0 auto;
}

.form-control{
    resize: none;
}

.disabled{
    height: auto;
    resize: none;
    pointer-events: none;
}